/******* GENERAL*******/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

#general-container {
  margin:0 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*************HEADER************/

header {
  display: flex;
  height: 150px;
}

#logo {
  display: flex;
  align-items: center;
  width: 100%;
}

#logo img {
  height: 54px;
  margin-left: 20px;
}

h1 {
  font-size: 29px;
}

#h2-light {
  font-size: 21px;
  font-weight: normal;
}

h3 {
  font-size: 17px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-a {
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  height: 98%;
  width: 190px;
  text-decoration: none;
  font-size: 21px
}

.nav-a:hover {
  border-top: 3px solid #0065FC;
  position: relative;
  bottom: 1px;
  color: #0065FC;
}


/****************FORM***************/


form {
  display: flex;
  align-items: center;
  margin-top: 30px;
}


#map-marker {
  padding: 20px;
  border: none;
  border-radius: 18px 0 0 18px;
  background-color: #F2F2F2;
  font-size: 25px;
}

input {
  padding: 19px 0 18px 20px;
  border: 1px solid #F2F2F2;
  font-size: 21px;
  font-weight: 700;
}

button {
  background-color: #0065FC;
  border-radius: 0 20px 20px 0;
  color:white;
  font-weight: 700;
  padding: 18px;
  font-size: 21px;
  border: none;
}

.fa-magnifying-glass {
  display: none;
}

/**************FILTERS******************/

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
}

.filters-wrapper {
  display: flex;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-left: 40px;
  border-radius: 35px;
}

.filter-item h3:hover {
  background-color: #0065FC;
  color: white;
  transition: 0.3s;
}

.filters i {
  padding: 17px;
  font-size: 26px;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  height: 63px;
  width: 63px;
  margin-right: -62px;
  z-index: 1;
  text-align: center;
}

.filter-item h3 {
  border-radius: 35px;
  padding: 17px 20px 17px 70px;
  border: 2px #C1C1C1 solid;
}


/*************INFO*********************/
.info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.info i {
  color: #0065FC;
  border: 1px #C1C1C1 solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 4px;
}

.info p {
  font-size: 18px;
  margin-left: 10px;
}


/**************MAIN******************/
.grey {
  color: #F2F2F2
}

.bold {
  font-weight: bold;
}

.accomodation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.accomodation h2 {
  margin: 45px 23px;
}

.accomodation-town {
  width: 67%;
  background-color: #F2F2F2;
  border-radius: 25px;
  padding: 12px;
}

.accomodation-popular {
  width: 31%;
  background-color: #F2F2F2;
  border-radius: 25px;
  padding: 12px;
}

#popular-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.cards-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.cards-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-regular {
  background-color: white;
  width: 30%;
  height: 220px;
  box-shadow: 0px 5px 10px #999;
  border: 5px white solid;
  border-radius: 23px;
  transition: transform .1s;
  margin-bottom: 30px;
}

.card-regular:hover, .card-inline:hover {
  transform: scale(1.03);
}

.card-regular-image {
  height: 130px;
  overflow: hidden;
  border-radius: 19px 19px 0 0;
}

.card-regular-image img {
  width: 120%;
  border-radius: 15px;
}

.card-regular-text {
  margin: 0 0 2% 4%;
}

.card-regular-text h3, .card-regular-text p {
  margin: 3% 0;
}

.stars-regular {
  color: #0065FC
}

.card-inline {
  background-color: white;
  margin-bottom: 45px;
  width: 90%;
  box-shadow: 0px 5px 10px #999;
  border: 5px white solid;
  border-radius: 20px;
  transition: transform .1s;
  height: 144px;
}

.card-inline a {
  display: flex;
  height: 180px;
}

.card-inline-image {
  width: 160px;
  overflow: hidden;
}

.card-inline-image img {
  height: 74%;
  width: 190px;
  border-radius: 15px;
  object-fit: cover;
}

.card-inline-text {
  margin-left: 20px;
  padding-right: 22px;
  position: relative;
}

.card-inline-text h3, .card-inline-text p {
  margin: 10px 0;
}

.stars-inline {
  color: #0065FC;
  margin-top: 20%;
  position: absolute;
  bottom: 52px;
}


/*************RESPONSIVE***************/

@media (max-width: 992px) {

  #general-container {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    height: 130px;
  }

  #logo {
    justify-content: center;
  }

  #logo img{
    margin-left:40px;
  }

  h1 {
    font-size: 26px;
  }

  #h2-light {
    font-size: 20px;
  }

  nav {
    justify-content: space-evenly;
    margin-top: 32px;
  }

  .nav-a {
    border-bottom: 3px solid #F2F2F2;
    height: 198%
  }

  .nav-a:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
    top: 1%
  }

  .filters-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-item {
    margin-left: 0;
    margin-right: 20px;
  }

  .accomodation {
    flex-direction: column-reverse;
  }

  .accomodation-popular, .accomodation-town {
    width: 100%;
    margin-bottom: 30px;
  }

  .cards-row {
    flex-direction: column;
    align-items: center;
  }

  .card-regular {
    width: 90%;
    margin-bottom: 20px;
  }
}


@media (max-width: 768px) {

  #general-container {
    margin:0;
  }

  .nav {
    margin-top: 42px;
  }

  .nav-a {
    width: 100%;
    font-size: 16px;
  }

  header {
    margin-top: 14px;
  }

  h1 {
    margin: 20px 20px 0;
    font-size: 22px;
  }

  #h2-light {
    font-size:16px;
    margin: 17px 20px;
  }

  h3 {
    font-size: 16px;
  }

  #map-marker {
    padding: 17px;
    font-size: 19px;
  }

  form {
    margin: 20px 10px 20px 20px;
  }

  input {
    padding: 14px 0 14px 14px;
    width: 70%;
    font-size: 19px;
  }

  button {
    padding: 17px;
    border-radius: 17px;
    margin-left: -10px;
  }

  #search-text {
    display: none;
  }

  .fa-magnifying-glass {
    display: block;
    color: white;
    font-size: 18px;
  }

  .filters > h3 {
    margin-left: 20px;
  }

  .filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .filter-item {
    margin: 0;
  }

  .filters i {
    height: 55px;
    width: 55px;
    margin-right: -54px;
    font-size: 21px
  }

  .filter-item h3 {
    padding: 16px 16px 16px 62px;
    margin-right: 10px;
  }

}
