body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

nav img {
  height: 60px;
  margin-left: 80px;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 20px;
}

nav li {
  margin: 0 80px 0 10px;
}
