/******* GENERAL*******/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

#general-container {
  margin:0 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

p {
  font-size: 16px;
  margin:0;
}
/*************HEADER************/

header {
  display: flex;
  height: 150px;
}

#logo {
  display: flex;
  align-items: center;
  width: 100%;
}

#logo img {
  height: 54px;
  margin-left: 20px;
}

h1 {
  font-size: 29px;
}

#h2-light {
  font-size: 21px;
  font-weight: normal;
}

h3 {
  font-size: 17px;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

.nav-a {
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  height: 98%;
  width: 190px;
  text-decoration: none;
  font-size: 21px
}

.nav-a:hover {
  border-top: 3px solid #0065FC;
  position: relative;
  bottom: 1px;
  color: #0065FC;
}


/****************FORM***************/


form {
  display: flex;
  align-items: center;
  margin-top: 30px;
}


#map-marker {
  padding: 20px;
  border: none;
  border-radius: 18px 0 0 18px;
  background-color: #F2F2F2;
  font-size: 25px;
}

input {
  padding: 19px 0 18px 20px;
  border: 1px solid #F2F2F2;
  font-size: 21px;
  font-weight: 700;
}

button {
  background-color: #0065FC;
  border-radius: 0 20px 20px 0;
  color:white;
  font-weight: 700;
  padding: 18px;
  font-size: 21px;
  border: none;
}

.fa-magnifying-glass {
  display: none;
}

/**************FILTERS******************/

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 35px 0 30px;
}

.filters-wrapper {
  display: flex;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-left: 40px;
  border-radius: 35px;
}

.filter-item h3:hover {
  background-color: #0065FC;
  color: white;
  transition: 0.3s;
}

.filters i {
  padding: 17px;
  font-size: 26px;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  height: 57px;
  width: 57px;
  margin-right: -55px;
  z-index: 1;
  text-align: center;
}

.filter-item h3 {
  border-radius: 35px;
  padding: 17px 20px 17px 70px;
  border: 2px #C1C1C1 solid;
}


/*************INFO*********************/
.info {
  display: flex;
  align-items: center;
  margin: 40px 0 40px;
}

.info i {
  color: #0065FC;
  border: 1px #C1C1C1 solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 4px;
}

.info p {
  margin-left: 10px;
}


/**************MAIN******************/


/*****search-results*****/
#search-results {
  display: flex;
  justify-content: space-between;
}

.accomodations {
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 66%;
  padding: 30px 40px;
}

.accomodations-cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  border: 5px white solid;
  border-radius: 20px;
  height: 200px;
  width: 31%;
}

.card a {
  width: 100%;
}

.card-image {
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-text {
  line-height: 1.5;
  padding-left: 10px;
}

.card-stars {
  color: #0065FC;
  font-size: 12px;
}

.star-empty {
  color: #C1C1C1;
}

.populars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 31%;
  padding: 30px 40px;
}

.popular-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.populars h2 {
  margin: 0;
}

.card-popular {
  width: 100%;
  height: 140px;
}

.card-popular a {
  display: flex;
}

.card-popular .card-image {
  height: 130px;
  width: 35%;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
}

.card-popular .card-text {
  width: 65%;
  padding: 15px;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-popular h3 {
  margin-bottom: -20px;
}


/*************activity***************/
#activity {
  margin-top: 60px;
}

.activity-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.single-card-container, .two-cards-container {
  width: 23%;
}

.single-card-container {
  height: 450px;

}
.two-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-container .card {
  width: 98%;
  border: none;
}

.activity-container .card-text {
  margin: 12px 8px;
}

.single-card-container .card {
  height: 100%;
}

.image-large {
  height: 395px;
}

.image-small {
  height: 115px;
}
.image-medium {
  height: 192px;
}
.card-medium {
  height: 55%;
}

.card-small {
  height: 38%;
}


/***************FOOTER*****************/

footer {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 30px 250px 30px 50px;
  margin-top: 60px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

/*************RESPONSIVE***************/

@media (max-width: 1300px) {
  #general-container {
    margin: 0 30px;
  }

  .accomodations, .populars {
    padding: 30px 30px;
  }
}

@media (max-width: 1213px) {
  #general-container {
    margin: 0 20px;
  }

  .accomodations, .populars {
    padding: 30px 20px;
  }

  .accomodations .card {
    width: 32%;
  }

  #search-results h3 {
    font-size: 16px;
  }

  .filter-item {
    margin-left: 18px;
  }

  .activity-container .card {
    width: 100%;
  }

  .activity-container .card-text {
    margin: 12px 0 0;
  }
}


@media (max-width: 1101px) {
  .accomodations, .populars {
    padding: 30px 10px;
  }

  .activity-container h3 {
    font-size: 16px;
  }
}

@media (max-width: 1041px) {
  .accomodations .card-text, .populars .card-text {
    padding-left: 4px;
  }

  .filter-item {
    margin-left: 8px;
  }

  .activity-container h3 {
    font-size: 15px;
  }
}


@media (max-width: 992px) {

  #general-container {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    height: 130px;
  }

  #logo {
    justify-content: center;
  }

  #logo img{
    margin-left:40px;
  }

  h1 {
    font-size: 26px;
  }

  #h2-light {
    font-size: 20px;
  }

  nav {
    justify-content: space-evenly;
    margin-top: 32px;
  }

  .nav-a {
    border-bottom: 3px solid #F2F2F2;
    height: 198%;
  }

  .nav-a:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
    top: 1%;
  }

  .filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .filter-item {
    margin-right: 2px;
    margin-top: 5px;
  }

  .filters h3 {
    margin-left: 10px;
  }

  #search-results {
    flex-direction: column-reverse;
    align-items: center;
  }

  .populars, .accomodations {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 20px;
  }

  .popular-title {
    margin-bottom: 10px;
  }

  .accomodations .card, .populars .card {
    width: 100%;
    margin: 10px auto;
  }

  .accomodations-cards-container {
    flex-direction: column;
    margin-bottom: 0;
  }

  .accomodations-cards-container:nth-of-type(2) {
    margin-bottom: 20px;
  }

  #activity {
    margin-top: 30px;
    padding: 0 20px;
  }

  .activity-container {
    flex-direction: column;
  }

  #activity .card-image {
    height: 74%;
  }

  .activity-container .card {
    height: 192px;
    margin-bottom: 20px;
  }

  .single-card-container, .two-cards-container {
    width: 100%;
    height: auto;
  }

  footer {
    padding-right: 50px;
  }
}


@media (max-width: 768px) {

  #general-container {
    margin:0;
  }

  .nav {
    margin-top: 42px;
  }

  .nav-a {
    width: 100%;
    font-size: 16px;
  }

  header {
    margin-top: 14px;
  }

  h1 {
    margin: 20px 20px 0;
    font-size: 22px;
  }

  #h2-light {
    font-size:16px;
    margin: 17px 20px;
  }

  h3 {
    font-size: 16px;
  }

  #map-marker {
    padding: 17px;
    font-size: 19px;
  }

  form {
    margin: 20px 10px 20px 20px;
  }

  input {
    padding: 14px 0 14px 14px;
    width: 70%;
    font-size: 19px;
  }

  button {
    padding: 17px;
    border-radius: 17px;
    margin-left: -10px;
  }

  #search-text {
    display: none;
  }

  .fa-magnifying-glass {
    display: block;
    color: white;
    font-size: 18px;
  }

  .filters > h3 {
    margin-left: 20px;
  }

  .filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .filters i {
    height: 55px;
    width: 55px;
    margin-right: -57px;
    margin-top: 10px;
    font-size: 21px
  }

  .filter-item h3 {
    padding: 16px 16px 16px 51px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .info {
    padding-left: 20px;
  }

  .populars {
    border-radius: 0;
  }

  .accomodations {
    background-color: white;
  }

  footer {
    flex-direction: column;
    padding: 40px 0 0 20px;
    margin-top: 40px;
  }

  .footer-content {
    margin-bottom: 30px;
  }
}
